<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Oświetlenie</h1>
</div>

<h2>Lista urządzeń</h2>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
    <tr>
      <th>#</th>
      <th>Nazwa</th>
      <th>Intensywność</th>
      <th>Włączone</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td>Lampa 1</td>
      <td>3</td>
      <td>Tak</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Lampa 2</td>
      <td>2</td>
      <td>Tak</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Lampa 3</td>
      <td>1.5</td>
      <td>Nie</td>
    </tr>
    </tbody>
  </table>
</div>